# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Roomio.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\Roomio\src\.idea\.idea.Roomio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
